<% layout('./layouts/boilerplate.ejs') %>

<div class="row mb-3">
  <div class="col-6 offset-3">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center my-4">Edit: <%= camp.title %></h3>
        <form
          class="needs-validation"
          action="/campgrounds/<%=camp._id%>?_method=PUT"
          method="POST"
          novalidate
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-laber" for="title">Title:</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="campground[title]"
              value="<%= camp.title %>"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location:</label>
            <input
              class="form-control"
              type="text"
              id="location"
              name="campground[location]"
              value="<%=
            camp.location %>"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Price:</label>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input
                type="number"
                class="form-control"
                id="price"
                name="campground[price]"
                aria-label="Amount (to the nearest dollar)"
                placeholder="0"
                value="<%= camp.price %>"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="campground[description]"
              required
              rows="4"
            >
<%= camp.description %></textarea
            >
          </div>
          <!-- Delete images -->
          <label for="">Select to delete any image:</label>
          <div class="mb-3 d-flex">
            <% for (const [i, img] of camp.image.entries()) { %>
            <label class="image-checkbox">
              <img
                src="<%=img.thumbnail%>"
                class="img-thumbnail"
                alt="<%=img.filename%>"
                style="width: 200px; height: 200px; aspect-ratio: 5/3; object-fit: cover"
              />
              <input name="imageDelete[]" value="<%=img.filename%>" type="checkbox" />
            </label>
            <% } %>
          </div>
          <div class="mb-3">
            <label class="form-label" for="image">Update images:</label> <br />
            <input class="form-control" type="file" name="image" id="image" multiple />
          </div>
          <div class="my-2">
            <button class="btn btn-success" type="submit">Update CampGround</button>
            <a class="btn btn-secondary" href="/campgrounds/<%=camp._id%>">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/validateForms.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
  bsCustomFileInput.init();
</script> -->
